.login-text {
    text-align: center;
}

body {
    background: linear-gradient(-45deg, #474af1, #a53ce7, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


a{
    color:rgb(0, 0, 0);
    text-decoration: none;
}


nav a:hover {
    color:rgb(0, 0, 0);
    transition: background-color 0.3s;
  }

  td a:hover {
    font-family: 'Kanit', sans-serif;
    color: rgb(37, 83, 200);
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    transition: background-color 0.8s;
  }

.create_a {
    font-family: 'Kanit', sans-serif;
    color: rgb(37, 83, 200);
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    transition: background-color 0.8s;
    font-size: x-large;
}

.projects_title {
    text-align: center;
}
