{% extends 'base.html' %}

{% block content %}
  <h1 class="login-text">Login</h1>
  <div class="login-form">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Login</button>
    </form>
  </div>
{% endblock %}
