{% extends 'base.html' %}

{% block content %}
  <h1>Sign Up</h1>
  <div class="signup-form">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Sign Up</button>
    </form>
  </div>
{% endblock %}
