{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <link rel="stylesheet" href="{% static 'css/app2.css' %}">
</head>

<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'show_my_tasks' %}"class="show_my_task">My tasks</a></li>
                <li><a href="{% url 'list_projects' %}"class="list_projects">My projects</a></li>
                <li><a href="{% url 'logout' %}"class="logout">Logout</a></li>
                {% else %}
                <li><a href="{% url 'login' %}"class="login">Login</a></li>
                <li><a href="{% url 'signup' %}"class="signup">Signup</a></li>
                {% endif %}
                <div class="animation"></div>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>

</html>
