{% extends 'base.html' %}

{% block content %}
  <h1>Create a new task</h1>
  <div class="task-form">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Create</button>
    </form>
  </div>
{% endblock %}
