{% extends "base.html" %}

{% block content %}
<div class="project-list">
  <h1 class="projects_title">Todo List</h1>
  {% if user.is_authenticated %}
  <p><a href="{% url 'create_project' %}"class ="create_a">Create Project</a></p>
  {% endif %}
  {% if projects %}
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Start date</th>
        <th>Due date</th>
        <th>Tasks</th>
      </tr>
    </thead>
    <tbody>
      {% for project in projects %}
      <tr>
        <td><a href="{% url 'show_project' id=project.id %}">{{ project.name }}</a></td>
        <td>{{ project.description }}</td>
        <td>{{ project.start_date }}</td>
        <td>{{ project.due_date }}</td>
        <td>{{ project.tasks.all|length }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>You are not assigned to any projects</p>
  {% endif %}
</div>
{% endblock %}
